<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudyUs</title>
    </head>
    <body>
    <div style="background-color: #84C19C; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div style="background-color: #FAF8F2; width: 550px; padding: 30px; border-radius: 20px; color: #111111; line-height: 36px;">
            <h1 style="text-align: center; padding-bottom: 30px;">인증이 실패하였습니다.</h1>
            <p style="display: flex; justify-content: center;">이메일 입력 후 아래 버튼을 눌러 인증메일을 다시 요청해주세요!</p>
            <div style="display: flex; justify-content: center;">
                <label for="resend_email" style="margin-right:10px">재발송 받을 이메일</label>
                <input type="email" class="resend_email" id="resend_email">
            </div>
            <div style="display: flex; justify-content: center;">
                <a href="#" class="resend_btn" style="background-color: #84C19C; border: none; color: white; padding: 5px 20px; margin: 30px 0px 30px 0px; text-align: center;  text-decoration: none; display: inline-block; font-size: 16px; border-radius: 10px">인증메일 재발송</a>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.resend_btn').addEventListener('click', function() {
            const email = document.querySelector('.resend_email').value;
            fetch('http://127.0.0.1:8000/accounts/resend-email/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'email': email,
                }),
            })
            .then(response => {
                // 서버의 응답을 처리하는 로직 추가
                if (response.ok) {
                    // 성공적으로 응답 받았을 때의 동작
                    console.log('이메일 재발송 성공');
                    alert('이메일 재발송 성공');
                } else {
                    // 응답이 실패했을 때의 동작
                    console.error('이메일 재발송 실패');
                    alert('이메일 재발송 실패');
                }
            })
            .catch(error => {
                // 네트워크 오류 등의 예외 상황 처리
                console.error('요청 오류:', error);
            });
        });
    </script>
    </body>
</html>
